<a rel="noopener noreferrer" target="_blank" href="https://twitter.com/intent/tweet?text={{socialbuttonText}}&url={{socialbuttonURL}}" class="socialButtonLink">
	<div style="background-color:#55acee;" class="socialButton">
		<span class="socialButtonIcon">{{socialButtonImg_twitter.svg}}</span> Tweet
	</div> 
</a>
<a rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{socialbuttonURL}}&title={{socialbuttonText}}&summary=&source=" class="socialButtonLink">
	<div style="background-color:#0077b5;" class="socialButton">
		<span class="socialButtonIcon">{{socialButtonImg_linkedin.svg}}</span> Share
	</div>
</a>
<a rel="noopener noreferrer" target="_blank" href="mailto:?subject={{socialbuttonTextRaw}}&body={{socialbuttonURL}}" class="socialButtonLink">
	<div style="background-color:#7d7d7d;" class="socialButton">
		<span class="socialButtonIcon">{{socialButtonImg_mail.svg}}</span> Email
	</div>
</a>
<a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/sharer.php?u={{socialbuttonURL}}" class="socialButtonLink">
	<div style="background-color:#4267B2;" class="socialButton">
		<span class="socialButtonIcon">{{socialButtonImg_facebook.svg}}</span> Share&nbsp;
	</div>
</a>

