<a href="https://twitter.com/intent/tweet?text={{socialbuttonText}}&url={{socialbuttonURL}}" style="text-decoration: none; color:white;">
	<div style="background-color:#55acee;" class="socialButton">
		<img src="microblog/templates/img/twitter.svg"> Tweet
	</div> 
</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{socialbuttonURL}}&title={{socialbuttonText}}&summary=&source=" style="text-decoration: none; color:white;">
	<div style="background-color:#0077b5;" class="socialButton">
		<img src="microblog/templates/img/linkedin.svg"> Share
	</div>
</a>
<a href="mailto:?subject={{socialbuttonText}}&body={{socialbuttonURL}}" style="text-decoration: none; color:white;">
	<div style="background-color:#7d7d7d;" class="socialButton">
		<img src="microblog/templates/img/mail.svg"> Email
	</div>
</a>
<a href="https://www.facebook.com/sharer.php?u={{socialbuttonURL}}" style="text-decoration: none; color:white;">
	<div style="background-color:#4267B2;" class="socialButton">
		<img src="microblog/templates/img/facebook.svg"> Share
	</div>
</a>

