.blogTitle {
	font-size: 39px;
	font-weight: 300;
	line-height: 1.1;
	margin-top: 21px;
	margin-bottom: 10.5px;
	color: inherit;
	text-align: center;
} 

.linkNoDecoration{
	text-decoration: none
}

.blogMain {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.blogFooterSpacer {
	margin-bottom: 5em;
}

.blogListPostTitle{
	font-size:15px;
}

.blogPostTitle{
	font-size:23px;
	margin-bottom:3px;
}

.blogCurrentPageLink{
	font-size: 120%;
}

.blogPostContent{
}

.blogPageLink{
}

.blogPermanentLink{
}

.blogFooter{
}

.socialButton{
	width:70px;
	display:inline;
	margin-right:5px;
	padding:2px;
}
